body {
    font-size: 22px;
    font-family: cursive;
    background-color:burlywood;
    margin-bottom: 2.5rem;
    line-height: 40px;
  }
  
  hr {
    border-color: brown;
    margin-top: 2rem;
  }
  
  h1, p {
    text-align: center;
    margin: 1em auto;
  }
  
  #description {
    font-family: serif;
  }
  
  p {
    font-size: 24px;
  }
  
  label {
    display: block;
  }
  
  form {
    margin: 0 auto;
    width: 90vw;
    max-width: 500px;
    min-width: 300px;
  
  }
  
  textarea {
    display: block;
    font-size: 16px;
  }
  
  button {
    padding: 5px 0;
    width: 100%;
    background-color: #7d550b;
    color: white;
    margin-top: 2em;
    font-size: 20px;
  }

  #name, #email {
    height: 25px;
    width: 300px;
  }

  #number, #dropdown {
    height: 25px;
    width: 100px;
  }

  #name, #email, #number {
    margin-bottom: 25px;
  }

  
  